.CardItem{
    background: rgba(24, 50, 82, 0);
    height: 300px;
    width: 300px;
    float: left;
    padding: 50px;
    margin-left: 180px;
    

    
}

.ItemCards{
    height: 365px;
    background-color: rgba(145, 156, 147, 0.664);
    margin: auto;
    float: left;
    padding: 10px auto;
    border-radius: 20px;

    

    


}
/*titulo*/
header{
    background-color: rgba(212, 133, 31, 0);
    display: grid;
    padding: 10px;
    padding-bottom: 5px;
}
.ItemHeader{
    padding: 10px;
    font-size: 30px;
    font-family: 'Belanosima', sans-serif;
}

/*imagen*/
.ItemImg{
    background-color: rgba(218, 166, 89, 0);
    height: 300px;
    width: 300px;
    object-fit: cover;
    cursor: pointer;
   

}
.ItemImg:hover{
    transform: scale(1.1);
    transition: 1s;

}


/*Info del products*/
.ItemInfo{
    background-color: rgba(255, 255, 255, 0);
    height: 200px;
    width: 300px;
    margin:auto;
    font-family: 'Belanosima', sans-serif;
    color: black;
    
     

}
.Info{
    background-color: rgba(0, 255, 255, 0);
    font-size: 22px;
    padding: 5px auto;
    height: 30px;
    width: 200px;
    margin:auto
    
   
    

}
.Info2{
    background-color: rgba(0, 255, 255, 0);
    font-size: 15px;
    padding: 10px;
    height: 30px;
    width: 200px;
    margin:auto
    
}

.Info3{
    font-family: 'Ysabeau Office', sans-serif;
    margin: auto;
    display: grid;
    

}
.Option{
    background-color: rgba(6, 15, 43, 0.342);
    width: 70px;
    margin: auto;
    border-radius: 10px;
    border-color: black;
    border-top: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
    
    
}
