.Title-S{
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: rgb(250, 250, 250);
    
    
   
}
.Title{
    color: black;
    padding: 20px ;
    margin: auto;
    font-family: 'Geologica', sans-serif;
     
}
