.Counter {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    }
    
    .Controls {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    
    }
    
    .Button {
    height: 30px;
    background: #777272a9;
    color: rgba(0, 0, 0, 0.788);
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Belanosima', sans-serif;
    
    }
    
    .ButtonA{
    height: 50px;
    background: #b8afafa9;
    color: rgb(7, 7, 7);
    border-radius: 10px;
    border-color: black 1px;
    padding:auto;
    margin: 5px;
    font-size: 15px;
    cursor: pointer;

    }
    .ButtonA:hover{
    color: black;
    transition-duration: 1s;
    }
    
    .Number {
    font-size: 24px;
    margin: 0 10px;
    
    }
    
    .Button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
    
    .Button:hover {
    background: #fffbfb;
    color: black;
    transition-duration: 00,1ms;
    }