
.ListGroup{
    background-color: rgba(219, 228, 228, 0);
    width: 100%;
    height: 200px;

}

.Group{
    background-color: black;
    
    
}

.h2M{
    margin: auto;
    color: black;
    font-family: 'Geologica', sans-serif;
}
