.CardDetail{
    background: rgba(8, 85, 180, 0.911);
    height: 600px;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    

    
}

.Detail{
    height: 600px;
    width: 100%;
    background-color: #6c89a3;
    display: flex;
    
    
}

.HeaderDetail{
    background-color: rgba(212, 133, 31, 0);
    height: 80px;
    width: 300px;
    display: grid;
    
    
    
}
.DetailH{
    padding-left: 270px;
    padding-top: 10px;
    margin-left: 100px;
    font-family: 'Belanosima', sans-serif;
    font-size: 30px;
    width: 100%;
}


.ImgDetail{
    background-color: rgba(190, 181, 166, 0);
    height: 350px;
    cursor: pointer;
    margin-right: 100%;
    margin-top: 110px;
    padding-top: 10px;
    position: relative;
    border-radius: 10px;
    

   
}
.ImgDetail:hover{
    transform: scale(1.1);
    transition: 1s;
}

.SeccionInfo{
   height: 300px;
   background-color: rgba(113, 122, 131, 0.541);
   width: 500px;
   padding: 20px auto;
   margin-left: 200px;
   margin-top: 120px;
   border-radius: 10px;

}
.InfoDD{
    font-size:25px;
    font-family: 'Belanosima', sans-serif;
    padding: 5px;

}
.InfoD{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    
   
    
    

}

.ItemFooter{
    height: 150px;
    margin-top: 200px;
    margin-left: 10px;

}

.Volver{
    background-color: rgba(24, 117, 223, 0);
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 5px;
    


}
.VButto{
    background-color: #778c9e;
    
}
.V{
    background-color: rgba(110, 184, 184, 0.795);
    padding: 8px;
    border-radius: 5px;
    border-top: none;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;
    height: 50px;
}

