.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 100px;
  
}

.NavBar a {
  background-color: #d4161600;
  width: 70px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: #fffefe;
  padding-top: 30px;
  font-family: 'Belanosima', sans-serif;
  font-size: 25px;
}

.NavBar a:hover {
  color: #646464f1;
  
}



.Logo img {
  background-color: #d4161600;
  height: 100px;
  text-align:center;
  padding-left: 40px;
  position: relative;
  bottom: 50px;
  
  
}
.Categories {
  display: flex;
}

.Option {
  margin-right: 1rem;
}

.ActiveOption {
  margin-right: 1rem;
  font-weight: bold;
}
